{{define "footer"}}


        <div class="footer">
            <div class="pull-right">
                <strong>沪ICP备11036159号-9</strong>
            </div>
            <div>
                <strong>上海承泰信息科技股份有限公司 &copy; 2016</strong>
            </div>
        </div>
    </div>

</div>


</body>
</html>


{{end}}